<head>
<div class="wrapper">
<header class="main-header">
    <!-- Logo -->
<a class="logo">
  <span class="logo-lg">
  	TestingLogo
  </span>
</a>
<nav class="navbar navbar-static-top">
	<br>
      <div class="col-md-offset-11">
      	<form action="/logout" method="GET">
      	<button>Log out</button>
      </form>
      </div>
</nav>

</header>
</head>