
<body class="hold-transition skin-blue sidebar-mini">
	<% include script.ejs %>
	<%include header.ejs %>
	<% include sidebar.ejs %>
	<div class="content-wrapper">
	</div>
	<% include footer.ejs %>


</body>