<!DOCTYPE html>
<html>
<% include script.ejs %>
<body class="hold-transition skin-blue sidebar-mini">
<%include header.ejs %>
<% include sidebar.ejs %>
<div class="content-wrapper">
<% include list_user.ejs %>
<% include footer.ejs %>
</div>
</body>
</html>