
<html>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
  <ul class="sidebar-menu tree" data-widget="tree" >	
 <br>
    <!-- sidebar: style can be found in sidebar.less -->
	<li class="header" style="color: #4b646f;background-color: #1a2226">MAIN NAVIGATION</li>
	<br>
	<li>  
	    <a href="/list">
	    	<i class="fa fa-circle-o text-red">
	    	</i>
	    	<span style="font-size: 16px">Create Admin</span>
	    </a>
	</li>
	<li>
	    <a href="/dashUtama">
	    	<i class="fa fa-circle-o text-orange">
	    	</i>
	    	<span style="font-size: 16px">Dashboard Himti</span>
	    </a>
	</li>
		 <li>
	    <a href="/dashBEM">
	    	<i class="fa fa-circle-o text-green">
	    	</i>
	    	<span style="font-size: 16px">Dashboard BEM</span>
	    </a>
	 </li>
	 <li>
	    <a href="/dashUtama">
	    	<i class="fa fa-circle-o text-blue">
	    	</i>
	    	<span style="font-size: 16px">Dashboard Himma</span>
	    </a>
	 </li>
	</ul>
    <!-- /.sidebar -->
  </aside>
