
<html>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
  <ul class="sidebar-menu tree" data-widget="tree" >	
 <br>
    <!-- sidebar: style can be found in sidebar.less -->
	<li class="header" style="color: #4b646f;background-color: #1a2226">MAIN NAVIGATION</li>
	<br>
	<li>
	    <a href="/dashBem">
	    	<i class="fa fa-circle-o text-yellow">
	    	</i>
	    	<span style="font-size: 16px">Dashboard</span>
	    </a>
	 </li>
	</ul>
    <!-- /.sidebar -->
  </aside>
