<br>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                  <h3 class="box-title">UNDER CONSTRUCTION</h3>
                  <div class="box-title" style="padding-left: 685px">

                  </a>
                  </div>
                  
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                                   <th>Prodi</th>
                  <th>Nama Event</th>
                  <th>Price</th>
                  <th>Desripsi</th>
                  <th>Tanggal Mulai</th>
                  <th>Tanggal Selesai</th>
                  <th>Waktu Mulai</th>
                  <th>Waktu Selesai</th>
                  <th>Poster</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Lokasi</th>
                </tr>
                </thead>
                <tbody>


                </tbody>
                <tfoot>
                <tr>
                  <th>Prodi</th>
                  <th>Nama Event</th>
                  <th>Price</th>
                  <th>Desripsi</th>
                  <th>Tanggal Mulai</th>
                  <th>Tanggal Selesai</th>
                  <th>Waktu Mulai</th>
                  <th>Waktu Selesai</th>
                  <th>Poster</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Lokasi</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

</div>